.Card {
    border-style: solid 20px;
    border: #00BFFF;
    background-color: #F0F8FF;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 5px;
    
    transition: transform 0.8s;
    font-size: 3em;
    padding-top: 0px;
  }
  
  .Card.face-up {
    border: #DB7093;
    background-color: #98FB98;
    transform: rotateY(180deg);
  }

  .Card.face-down {
    background-color: red;
  }

  .answerRevealed {
    color: black;
    font-size: 24px;
    position: absolute;
    top: 0;
    float: left;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  }