.categoryCard {
    outline: 3px solid #40e0d0; 
    height: 100%;
}

.catSelBtn {
    background-color: #40e0d0 !important;
}

.categoryLabel {
    background-color: #fa8072 !important; 
    color: white !important;
    font-size: 20px !important;
}

@media (max-device-width: 600px) {
    .categoryCard {
        margin: 0;
        padding: 0;
        width: 100%;
        outline: 3px solid #f47835;
    }

    .categoryContent {
        margin: 0px;
        padding: 0px;

    }

    .catSelDiv {
        opacity: 1 !important;

    }
}